<div class="dropdown d-inline px-5 mx-5" >
          <button class="btn btn-outline-primary btn-lg ms-5 px-5" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-funnel-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5v-2z"/>
            </svg>
            Filter
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <form action="" class="form" name="filterClient">
                <div class="form-group circle">
                  <input type="text" class="upload" id="photo-upload" name="avatar" >
                </div>
                <div class="form-group">
                  <input type="text" class="form-control mb-3 " placeholder="name" name="name" id="clean">
                  <input type="date" class="form-control mb-3 ml-3" placeholder="date" name="date" id="clean">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control mb-3" placeholder="last name" name="lastName" id="clean">
                  <input type="tel" class="form-control mb-3 ml-3" placeholder="tel" name="tel" id="clean">
                </div> 
                <div class="form-group">
                  <input type="email" class="form-control mb-3" placeholder="email" name="email" id="clean"> 
                </div>
            
              <button type="submit" class="btn-outline-primary"  id="filter" onclick="filtering()">Filter</button>
            </form>
          </ul> 
        </div>
    </div>