<div class='row'>
  <div class='pagin mx-auto col-md-5'>
    <nav aria-label='Page navigation example'>
      <ul class='pagination d-flex flex-row'>
        <li class='page-item' id='First'>
        </li>
        <span id='pagin' class='row'>
        </span>
        <li class='page-item' id='Last'>
        </li>
      </ul>
    </nav>
  </div>
  <div class='col-md-5'>
    <select name='' id='limit'>
      <option value='2'>2</option>
      <option value='5'>5</option>
      <option value='10'>10</option>
    </select>
  </div>
</div>