<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/modal-add.hbs">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
  <div class="container mt-5 "> 
    <div class="add mx-5 mb-5 ">   
{{> modalClientAdd}}

{{> filterClient}}

{{> card}}

{{> modalEditClient}}

{{> pagination}}
  </div>
 <script>
document.getElementById('submit').addEventListener('click', function (e) {
  e.preventDefault();
  clientAdd()
});
document.getElementById('limit').addEventListener('change', function (e) {
  e.preventDefault();
  let path = getFilterPath() 
  path += `limit=`+getLimit()+`&page=`+0
  let request = new XMLHttpRequest();
  request.open('GET', '/paginate' + path, true);
  request.setRequestHeader('Content-Type', 'application/json');
  request.send(path);
  request.onload = function(){
    let res = JSON.parse(request.response)
    console.log(res.clientsPageable)
    paginButtons(res.clientsPageable)
    getCargs(res.clientsPageable.items);
  }
}); 
document.getElementById('filter').addEventListener('click', function (e) {
  e.preventDefault();
  filtering()
});
var get = document.getElementsByClassName('edit_button');
for (var i = 0; i < get.length; i++)
  get[i].onclick = function () {
    let client = JSON.stringify({ id: this.id });
    let request = new XMLHttpRequest();
    request.open('GET', '/' + this.id, true);
    request.setRequestHeader('Content-Type', 'application/json');
    request.send(client);
    request.onload = function () {
      let res = $.parseJSON(request.response);
      getOneInEditForm(res.oneClient);
    };
  };

window.onload = function () {
  var inputs = document.querySelectorAll('input');
  for (var i = 0; i < inputs.length; i++) {
    inputs[i].value = '';
  }
  document.getElementById('limit').value = 2
  firstLoad(); 
};

function getOneInEditForm(editClient) {
  let form = '';
  form += `<div class='form-group circle'>
      <input type='file' class='upload' name='avatar' onchange = 'getImgEdit()' id='editImg' class='rounded avatar' /> 
    </div>
    <img 
      src='http://localhost:3000/profileimagies/`+editClient.avatar+`'
      style='width: 80px; height: 80px; object-fit: cover;'
      class='rounded'
      id='img'
    />
    <div class='form-group'>
      <input
        type='text'
        class='form-control mb-3'
        value='`+editClient.name+`'
        name='name'
      />
      <input
        type='date'
        class='form-control mb-3 ml-3'
        value='`+editClient.date+`'
        placeholder="yyyy-mm-dd" 
        data-phone-pattern = "____-__-__"
        data-mask="date"
        name='date'
      />
    </div>
    <div class='form-group'>
      <input
        type='text'
        class='form-control mb-3'
        value='`+editClient.lastName+`'
        name='lastName'
      />
      <input
        type='tel'
        class='form-control mb-3 ml-3'
        value='+380`+editClient.tel+`'
        data-mask="phone"
        placeholder="+380 (__) ___-__-__"
        name='tel'
      />
    </div>
    <div class='form-group'>
      <input
        type='email'
        class='form-control mb-3'
        value='`+editClient.email+`'
        name='email'
      />
    </div>`
  let l = document.getElementById('editForm');
  l.innerHTML = form;
document.getElementById('edit').addEventListener('click', function (e) {
  e.preventDefault();
  if(getImgEdit()){
        console.log('   clientEdit(editClient.id)}')
  clientEditWithAvatar(editClient.id)}
  else{
    console.log('   clientEdit(editClient.id)}')
   clientEdit(editClient.id)}
});
}

function getImgEdit(){
  return document.getElementById("editImg").files[0]
}

function firstLoad(){
  let client = '';
  let path = '?page=0&limit='+getLimit()
  let request = new XMLHttpRequest();
  request.open('GET', '/paginate' + path, true);
  request.setRequestHeader('Content-Type', 'application/json');
  request.send(client);
  request.onload = function () {
    let res = $.parseJSON(request.response);
    paginButtons(res.clientsPageable)
  };
}


  function getCargs(items) {
  let cards = '';
  for (let i = 0; i < items.length; i++) {
    cards +=`
    <div class='card border-primary mb-2'>
      <div class='row'>
        <div class='col-md-3 text'>

          <img
            src='http://localhost:3000/profileimagies/`+ items[i].avatar +`'
            style='width: 150px; height: 150px; object-fit: cover;'
            class='rounded'
          />
        </div>

        <div class='col-md-3 mt-3'>
          <div class='text-default text mt-3'>`+ items[i].name +`
            `+ items[i].lastName +`
          </div>
          <div class='text-default text mt-2'>`+ items[i].date +`</div>
        </div>
        <div class='col-md-3 mt-3'>
          <div class='text-default text mt-3'>`+ items[i].email +`</div>
          <div class='text-default text mt-2'>+380`+ items[i].tel +`</div>
        </div>
        {{! !!!!!!!!!!BUTTONS!!!!!!!!!!!! }}
        <!-- кнопка редагувати -->
        <div class='col-md-3 mt-3'>
          <button
            class='edit_button btn btn-outline-primary text mt-2'
            data-bs-toggle='modal'
            data-bs-target='#editModal'
            id='`+ items[i].id +`'
            onclick="getForEdit(`+items[i].id +`)"
          > edit client </button>
          <br /><br />
          <!-- кнопка delete -->
          <button class='delete_button btn btn-outline-danger text' id='`+ items[i].id +`'
            onclick="delete1(`+items[i].id +`)">
            delete client
          </button>
        </div>
      </div>
    </div>`
  }
  let l = document.getElementById('result');
  l.innerHTML = cards;
}




//SCRIPT PAGINATE

function getPath (path){
  //let path = filtering()
  let newPath = path.split('3000/')[1]
  let p = newPath.split('limit=')[0]
  return p;
}

function paginButtons(pagin) {
  console.log(pagin)
  let limit = getLimit();
  let button = '';
  let First = '';
  let Last = '';
  let path = pagin.links.next;
  getPath(path);
  let firstPage = 0;
  let lastPage = pagin.links.last.split('page=')[1];
  let buttonPath = pagin.links.next.split('paginate')[1];
  console.log(lastPage)
   First += `<button class='page-link' onclick='getPaginRequest(${firstPage})' aria-label='Previous'>
              <span aria-hidden='true'>&laquo;</span>
              <span class='sr-only'></span>
            </button>`
    console.log(First)
    let first = document.getElementById('First');
    first.innerHTML = First;
    Last += `<button class='page-link' onclick='getPaginRequest(${lastPage})' aria-label='Next'>
              <span aria-hidden='true'>&raquo;</span>
              <span class='sr-only'></span>
            </button>`
    let last = document.getElementById('Last');
    last.innerHTML = Last;
    for (let i = 0; i < pagin.meta.totalPages; i++) {
      button +=
        `<li rel="canonical" class="page-item col-md-1">
        <button class="page-link mx-1"
        "  onclick="getPaginRequest(${i})">` +
        (i+1) +
        `</button>
        </li>`;
    }
    let l = document.getElementById('pagin');
    l.innerHTML = button;
    return path;
}



function getPaginRequest(id) {
  console.log('path' + id)
  let path = getFilterPath() 
  path += `limit=`+getLimit()+`&page=`+id
  let request = new XMLHttpRequest();
  request.open('GET', '/paginate' + path, true);
  request.setRequestHeader('Content-Type', 'application/json');
  request.send(id);
  request.onload = function(){
    //document.open();
    //document.write(request.response);
    //document.close();
    let res = JSON.parse(request.response)
    console.log(res.clientsPageable)
    getCargs(res.clientsPageable.items);
  }
}

function getLimit() {
  let limit = document.getElementById('limit');
  return limit.value;
}
function getFilterPath(){
  let registerForm = document.forms['filterClient'];
  let name = registerForm.elements['name'].value;
  let lastName = registerForm.elements['lastName'].value;
  let tel = registerForm.elements['tel'].value;
  let email = registerForm.elements['email'].value;
  let date = registerForm.elements['date'].value;
  let path = `?name=` + name + `&`+`lastName=` + lastName + `&`+`email=` + email + `&`+`tel=` + tel + `&`+`date=` + date + `&`;
  return path;
}

 function filtering() {
  let path = getFilterPath()
  path += `page=` + 0 + `&limit=` + getLimit();
  console.log(path + 'filtering')
  let request = new XMLHttpRequest();
  request.open('GET', '/paginate' + path, true);
  request.setRequestHeader('Content-Type', 'application/json');
  request.send(path);
  request.onload = function(){
    console.log(request.response.clientsPageable)
    let res = JSON.parse(request.response)
    console.log(res.clientsPageable)
    getCargs(res.clientsPageable.items);
    console.log(res.clientsPageable.meta.totalPages)
    paginButtons(res.clientsPageable)
  }
}


// SCRIPT DELETE
var del = document.getElementsByClassName('delete_button');
for (var i = 0; i < del.length; i++)
  del[i].onclick = function () {
    alert('Do you want to delete this client?');
    let client = JSON.stringify({ id: this.id });
    let request = new XMLHttpRequest();
    request.open('DELETE', '/delete' + this.id, true);
    request.setRequestHeader('Content-Type', 'application/json');
    request.send(client);
    request.onload = function () {
      console.log(request.response);
      filtering();
    };
  };
  
function delete1(id1) {
  alert('Do you want to delete this client?');
  let client = JSON.stringify({ id: id1 });
  let request = new XMLHttpRequest();
  request.open('DELETE', '/delete' + id1, true);
  request.setRequestHeader('Content-Type', 'application/json');
  request.send(client);
  request.onload = function () {
    console.log(request.response);
    filtering()
  };
}
function getForEdit(id1) {
  let client = JSON.stringify({ id: id1 });
  let request = new XMLHttpRequest();
  request.open('GET', '/' + id1, true);
  request.setRequestHeader('Content-Type', 'application/json');
  request.send(client);
  request.onload = function () {
    let res = $.parseJSON(request.response);
      getOneInEditForm(res.oneClient);
  };
}


 //////////////////////////////////////////////////////////////////////////////




function clientAdd(){
  let registerForm = document.forms['addClient'];
  let name = registerForm.elements['name'].value;
  let lastName = registerForm.elements['lastName'].value;
  let tel = registerForm.elements['tel'].value;
  tel = tel.replace('+','')
  tel = tel.replace(/\-/g,'')
  tel = tel.replace('(','')
  tel = tel.replace(')',"")
  tel = tel.replace(/\s/g,'')
  tel = tel.toString().slice(3)
  console.log(tel)
  let email = registerForm.elements['email'].value;
  let date = registerForm.elements['date'].value;
  var formData = new FormData();
  console.log(document.getElementById("img").files[0])
    formData.append("avatar", document.getElementById("img").files[0], document.getElementById("img").files[0].name);
    formData.append('name', name);
    formData.append('lastName', lastName);
    formData.append('tel', tel);
    formData.append('email', email);
    formData.append('date', date);
    var xhr = new XMLHttpRequest();
    xhr.open("POST", "/clientAdd", true);
    xhr.send(formData);
    xhr.onload = function () {
      filtering()
  };
  var inputs = document.querySelectorAll('input');
  for (var i = 0; i < inputs.length; i++) {
    inputs[i].value = '';}
  }


function clientEditWithAvatar(id){
  console.log('http://localhost:3000/profileimagies/'+img)
  let registerForm = document.forms['editForm'];
  let name = registerForm.elements['name'].value;
  let lastName = registerForm.elements['lastName'].value;
  let tel = registerForm.elements['tel'].value;
  tel = tel.replace('+','')
  tel = tel.replace(/\-/g,'')
  tel = tel.replace('(','')
  tel = tel.replace(')',"")
  tel = tel.replace(/\s/g,'')
  tel = tel.toString().slice(3)
  console.log(tel)
  let email = registerForm.elements['email'].value;
  let date = registerForm.elements['date'].value;
  let avatar = getImgEdit();
  var formData = new FormData();
    formData.append("avatar", avatar, avatar.name);
    formData.append('name', name);
    formData.append('lastName', lastName);
    formData.append('tel', tel);
    formData.append('email', email);
    formData.append('date', date);
    var xhr = new XMLHttpRequest();
    xhr.open("PATCH", "/editWithAvatar" + id, true);
    xhr.send(formData);
    xhr.onload = function () {
      filtering()
  };
  var inputs = document.querySelectorAll('input');
  for (var i = 0; i < inputs.length; i++) {
    inputs[i].value = '';}
  }

function clientEdit(id){
  let registerForm = document.forms['editForm'];
  let name = registerForm.elements['name'].value;
  let lastName = registerForm.elements['lastName'].value;
  let tel = registerForm.elements['tel'].value;
  tel = tel.replace('+','')
  tel = tel.replace(/\-/g,'')
  tel = tel.replace('(','')
  tel = tel.replace(')',"")
  tel = tel.replace(/\s/g,'')
  tel = tel.toString().slice(3)
  let email = registerForm.elements['email'].value;
  let date = registerForm.elements['date'].value;
  var formData = new FormData();
    formData.append('name', name);
    formData.append('lastName', lastName);
    formData.append('tel', tel);
    formData.append('email', email);
    formData.append('date', date);
    var xhr = new XMLHttpRequest();
    console.log(formData)
    xhr.open("PATCH", "/editWithoutAvatar" + id, true);
    xhr.send(formData);
    xhr.onload = function () {
      filtering()
  };
  var inputs = document.querySelectorAll('input');
  for (var i = 0; i < inputs.length; i++) {
    inputs[i].value = '';}
  }
</script>
<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src = "../nest-categ/todo-categ/src/client/client.controller.ts"></script>

<!-- jQuery -->

<!-- Latest compiled and minified JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>